Package: biglinux-name
Version: 20.04-1big5
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size:52
Section: admin
Replaces: base-files
Priority: optional
Description: Basic package for BigLinux

