Package: biglinux-name
Version: 7.10-0big8
Architecture: all
Maintainer: Bruno Goncalves <www.biglinux.com.br>
Installed-Size:52
Section: admin
Replaces: base-files
Priority: optional
Description: Basic package for BigLinux

